/* estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body{
    background-color: rgb(73, 42, 1);
    height: 100%;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(235, 171, 111);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

/* estilo do cabeçalho */

.header {
    padding: 40px 4%;

}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgba(240, 248, 255, 0.404);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    display: inline-block;
   

}

header a:hover{
    color: aliceblue;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

/* estilo menu mobilee */

.btn-abrir-menu i{
    color: aliceblue;
    font-size: 32px;
    
}

.btn-abrir-menu {
    position: absolute;
    top: 20px;
    right: 20px;
}

.menu-mobile{
    background-color: #682303f6;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .4s;
}

.menu-mobile.menu-abrir{
    width: 70%;
}




.menu-mobile .btn-fechar{
    padding: 20px 4%;
}

.menu-mobile .btn-fechar i{
    color: aliceblue;
    font-size: 22px;
}


.menu-mobile nav ul li a{
    color: #faf6f1;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 4%;
    display: block;

    
}

.menu-mobile nav ul li a:hover{
    background-color: #47270b8e;
    
}





 
/* topo do site */

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;


}

.topo-do-site h1{
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 67px;
    line-height: 80px;
}

.topo-do-site .txt-topo-site p{
    color: aliceblue;
    margin: 40px 0px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar {
     0%{
        top: 0;
     }
     100%{
        top: 30px;
     }
     

}

/* ESTILO ESPECIALIDADES */

section.especialidades{
    padding: 40px 4%;
    background-color: rgb(243, 237, 235);
    box-shadow: 0 0 40px 10px #924f0359;
}

section.especialidades .flex{
    gap: 60px;

}



section.especialidades h2{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(73, 42, 1);
}

.especialidades .especialidades-box{
    color: black;
    padding: 40px;
    margin-top: 42px;
    border-radius: 20px;
    transition: .2s;


}

 button:hover{
    box-shadow: 0px 0px 8px rgba(231, 168, 109, 0.562); ;
    transform: scale(1.05);
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(214, 75, 33, 0.438);  ;
}

.especialidades .especialidades-box i{
    font-size: 30px;
    color: rgb(214, 75, 33);
}

.especialidades .especialidades-box h3{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0;
}

.especialidades .especialidades-box p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(73, 73, 73, 0.932);
}

/* estilo sobre */

section.sobre{
    padding: 40px 4%;
    background-color: rgb(243, 237, 235);
     box-shadow: 0 0 40px 10px #7a3b0036;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: black;
}

.sobre .txt-sobre h2{
    font-size: 62px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(73, 42, 1);
   margin-bottom: 65px;


}

.sobre .txt-sobre p{

    margin: 22px 0;
    font-size: 23px;
    color: rgba(0, 0, 0, 0.897);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    
    
}

.btn-social button{
    width: 90px;
    height: 90px;
    border-radius: 47px;
    border: 0;
    background-color: rgb(73, 42, 1);
    font-size: 30px;
    color: aliceblue;
    cursor: pointer;
    margin: 0 10px;
    }

    /* ssecti formulario */

    section.formulario{
        padding: 80px 4%;
        background-color: #47270b;
        box-shadow: 0 0 40px 10px #74380136;
    }

    section.formulario h2{
        font-size: 52px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 248, 246);
    text-align: center;
    }

    form{
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 40px;
    }

    form input, form textarea{
        width: 100%;
        background-color: #311802d3;
        border: 0;
        outline: 0;
        padding: 20px 15px;
        color: rgba(240, 248, 255, 0.788);
        font-size: 20px;
        border-radius: 20px;

    }

    form textarea{
        resize: none;
        max-height: 200px ;
    }

    form .btn-enviar{
        margin-top: 20px;
        text-align: center;
        
        
    }

    form .btn-enviar input{
        width: 120px;
        font-weight: 500;
        color: #faf6f1;
        cursor: pointer;
        

    }

    /* estilo rodape */
    footer {
        padding: 60px 4%;
        background-color: #47270b;;
        box-shadow: 0 0 40px 10px #7437023b;;
    }

    footer .line-footer{
        padding: 20px 0;
        
    }

    .borda{
        border-top: 2px solid aliceblue;
    }



    footer .flex{
        justify-content: space-between;
 
    }

    footer .line-footer p{
        color: #faf6f1;
        font-size: 22px;
    }

    /* responsivo */

    @media screen and (max-width: 760px){
        /* clasass geraiiss */
        .flex{
            flex-direction: column;
        }
    

        /* cabeçalho */

          body {
        overflow-x: hidden;
    }
        
        .menu-desktop, .btn-contato{
            display: none;
        }

        /* topo do site */

        section.topo-do-site{
    padding: 20px 8%;
}

        .topo-do-site h1{
    
   font-size: 56px;
   
}

.topo-do-site .img-topo-site img{


    width: 100%;

}

section.topo-do-site .flex{
    gap: 30px;


}

.topo-do-site p{
    font-size: 10px;
}

/* especialidades */

section.especialidades{
    padding: 40px 8%;
    
}


section.especialidades h2{
    font-size: 36px;
    
}

/* section sobree */

section.sobre .flex{
    flex-direction: column-reverse;
    gap: 30px;
}


.sobre .txt-sobre h2{
    font-size: 50px;
    text-align: center;



}

.sobre .txt-sobre p{

    
    font-size: 18px;
    
    
}

.btn-social button {
    width: 60px;
    height: 60px;
    font-size: 20px;
    
    
    
    }

    .img-sobre img{
        width: 100%;
    }

    /* formulalarioooo */

    section.formulario{
        padding: 60px 8%;
        
    }


    .btn-social{
        text-align: center;
    }

     .btn-abrir-menu {
        display: block;
    }


}

section {
    max-width: 100%;
}

body, html {
    max-width: 100%;
    overflow-x: hidden;
}

.btn-abrir-menu {
    display: none;
}






















